/* Background style*/
body{
    background-color: black;
    background-image: url(IMG/backgnd.png);
}


/* Font and police text */

h1{
    font-weight: bolder;
    padding: 30px;
}

.Hfamily{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-align: center;
}

.fontext{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-decoration: none;
    text-align: justify;
    padding: 10px;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
 
}
.chaplitext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}

.context{
    background-color: rgba(110, 152, 189, 0.281);
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-decoration: none;
    text-align: justify;
    padding: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    text-align: center;
}
.headtext{
    background-color: rgba(240, 248, 255, 0.322);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid;
    border-color: aliceblue;
}

.footext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: gold;
  }

/* Position and flex box*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
}
.pictpos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.chapterbox{
    text-align: center;
    list-style:none;
    padding: 5%;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Pictures and visuals*/

.picstyle{
    border-radius: 10%;
    width: 30%;
    padding: 5%;

}
/* Formulaire style*/

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}
.form-select{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
}
.form-radio{
    margin-bottom: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
.form-input,.form-textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-submit {
    background-color: #CBE4D6;
    color: rgb(83, 95, 49);
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.form-submit:hover {
    background-color: #207B6E;
}


.box {
    margin: 10%;
    position: relative;
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;

}

.box:hover{
    animation-play-state: paused;
}


@keyframes animate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 36deg)) translateZ(450px);
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, rgba(4, 4, 4, 0.267));
}



.box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 15px;
    border: 4px double rgb(0, 0, 0);
}

img:hover{
    transform: translateY(-2px);
}